{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un vehicule
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="w-4/5 px-4 mx-auto">
    <h1 class="py-8 text-4xl font-black uppercase ">Ajouter un vehicule</h1>
    {% include "vehicle_owner/_form.html.twig" %}
    </div>
{% endblock %}