<header class="w-full px-4 py-4 bg-white">
	<nav class="flex justify-between">
        <div><a href="#"><img src="{{ asset('logos/logo.png')}}" alt=""></a></div>
		<ul class="text-black">
			<li class="px-4 py-2 font-bold text-white rounded bg-th-orange"><a href="#">Louer mon comping car</a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
	</nav>
</header>
