{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<div class="bg-van-sunset h-[calc(100vh_-_80px)] bg-cover bg-bottom relative">
		<div class="absolute bottom-1/4 left-1/2 translate-x-[-50%] w-1/2 backdrop-blur-sm text-black py-10 rounded-xl">
			<div class="w-3/4 mx-auto">
				<div class="w-3/4 mx-auto">
				<h1 class="mb-8 text-4xl font-bold">Trouver un camping-car à louer</h1>
					{% include "index/_form.html.twig" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
